img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.uml {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-text {
  color: green;
}

.blue-text {
  color: steelblue;
}

.yellow-text {
  color: #F6BE00;
}

.grey-text {
  color: grey;
}

.highlight-yellow {
  background-color: yellow;
}
